.header {
    padding: 100px;
}

h5 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-weight: 600;
}

h2 {
    color: orangered;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-weight: 800;
}